In [1]:
import pandas as pd

In [2]:
spotify_df = pd.read_csv('spotify_data.csv')
billboard_df = pd.read_csv('billboard_hot_stuff.csv')

In [3]:
# Standardize song names and artist names
spotify_df['name'] = spotify_df['name'].str.lower().str.replace('[^a-zA-Z0-9 ]', '', regex=True)
spotify_df['artists'] = spotify_df['artists'].str.lower().str.replace('[^a-zA-Z0-9 ]', '', regex=True)
billboard_df['Song'] = billboard_df['Song'].str.lower().str.replace('[^a-zA-Z0-9 ]', '', regex=True)
billboard_df['Performer'] = billboard_df['Performer'].str.lower().str.replace('[^a-zA-Z0-9 ]', '', regex=True)

In [4]:
spotify_df

,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo,valence,year
0,0.9950,carl woitschach,0.708,158648,0.1950,0,6KbQ3uYMLKb5jDxLF7wYDD,0.563000,10,0.1510,-12.428,1,singende bataillone 1 teil,0,1928,0.0506,118.469,0.7790,1928
1,0.9940,robert schumann vladimir horowitz,0.379,282133,0.0135,0,6KuQTIu1KoTTkLXKrwlLPV,0.901000,8,0.0763,-28.454,1,fantasiestcke op 111 pi tosto lento,0,1928,0.0462,83.972,0.0767,1928
2,0.6040,seweryn goszczyski,0.749,104300,0.2200,0,6L63VW0PibdM1HDSBoqnoM,0.000000,5,0.1190,-19.924,0,chapter 118 zamek kaniowski,0,1928,0.9290,107.177,0.8800,1928
3,0.9950,francisco canaro,0.781,180760,0.1300,0,6M94FkXd15sOAOQYRnWPN8,0.887000,1,0.1110,-14.734,0,bebamos juntos instrumental remasterizado,0,1928-09-25,0.0926,108.003,0.7200,1928
4,0.9900,frdric chopin vladimir horowitz,0.210,687733,0.2040,0,6N6tiFZ9vLTSOIxkj8qKrd,0.908000,11,0.0980,-16.829,1,polonaisefantaisie in aflat major op 61,1,1928,0.0424,62.149,0.0693,1928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169904,0.1730,dripreport tyga,0.875,163800,0.4430,1,4KppkflX7I3vJQk7urOJaS,0.000032,1,0.0891,-7.461,1,skechers feat tyga remix,75,2020-05-15,0.1430,100.012,0.3060,2020
169905,0.0167,leon bridges terrace martin,0.719,167468,0.3850,0,1ehhGlTvjtHo2e4xJFB0SZ,0.031300,8,0.1110,-10.907,1,sweeter feat terrace martin,64,2020-06-08,0.0403,128.000,0.2700,2020
169906,0.5380,kygo oh wonder,0.514,180700,0.5390,0,52eycxprLhK3lPcRLbQiVk,0.002330,7,0.1080,-9.332,1,how would i know,70,2020-05-29,0.1050,123.700,0.1530,2020
169907,0.0714,cash cash andy grammer,0.646,167308,0.7610,0,3wYOGJYD31sLRmBgCvWxa4,0.000000,1,0.2220,-2.557,1,i found you,70,2020-02-28,0.0385,129.916,0.4720,2020
169908,0.1090,ingrid andress,0.512,214787,0.4280,0,60RFlt48hm0l4Fu0JoccOl,0.000000,0,0.1050,-7.387,1,more hearts than mine,65,2020-03-27,0.0271,80.588,0.3660,2020

In [5]:
# Clean spotify dataset
# Drop unnecessary columns
columns_to_drop = ['explicit', 'id', 'mode', 'release_date']
spotify_df = spotify_df.loc[:, ~spotify_df.columns.isin(columns_to_drop)]
spotify_df = spotify_df.dropna()
cleaned_spotify = spotify_df.drop_duplicates()

In [6]:
billboard_df

,url,WeekID,Week Position,Song,Performer,SongID,Instance,Previous Week Position,Peak Position,Weeks on Chart
0,http://www.billboard.com/charts/hot-100/1965-0...,7/17/1965,34,dont just stand there,patty duke,Don't Just Stand TherePatty Duke,1,45.0,34,4
1,http://www.billboard.com/charts/hot-100/1965-0...,7/24/1965,22,dont just stand there,patty duke,Don't Just Stand TherePatty Duke,1,34.0,22,5
2,http://www.billboard.com/charts/hot-100/1965-0...,7/31/1965,14,dont just stand there,patty duke,Don't Just Stand TherePatty Duke,1,22.0,14,6
3,http://www.billboard.com/charts/hot-100/1965-0...,8/7/1965,10,dont just stand there,patty duke,Don't Just Stand TherePatty Duke,1,14.0,10,7
4,http://www.billboard.com/charts/hot-100/1965-0...,8/14/1965,8,dont just stand there,patty duke,Don't Just Stand TherePatty Duke,1,10.0,8,8
...,...,...,...,...,...,...,...,...,...,...
327890,https://www.billboard.com/charts/hot-100/2018-...,10/20/2018,22,god is a woman,ariana grande,God Is A WomanAriana Grande,1,21.0,8,13
327891,http://www.billboard.com/charts/hot-100/1977-0...,5/21/1977,22,i wanna get next to you,rose royce,I Wanna Get Next To YouRose Royce,1,10.0,10,13
327892,http://www.billboard.com/charts/hot-100/1981-0...,5/23/1981,22,i cant stand it,eric clapton and his band,I Can't Stand ItEric Clapton And His Band,1,12.0,10,13
327893,http://www.billboard.com/charts/hot-100/1973-0...,9/29/1973,22,here i am come take me,al green,Here I Am Come & Take MeAl Green,1,16.0,10,13
327894,https://www.billboard.com/charts/hot-100/2020-...,11/28/2020,22,hawai,maluma the weeknd,HawaiMaluma & The Weeknd,1,12.0,12,13

In [7]:
print(spotify_df.info())
print(spotify_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169909 entries, 0 to 169908
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   acousticness      169909 non-null  float64
 1   artists           169909 non-null  object
 2   danceability      169909 non-null  float64
 3   duration_ms       169909 non-null  int64
 4   energy            169909 non-null  float64
 5   instrumentalness  169909 non-null  float64
 6   key               169909 non-null  int64
 7   liveness          169909 non-null  float64
 8   loudness          169909 non-null  float64
 9   name              169909 non-null  object
 10  popularity        169909 non-null  int64
 11  speechiness       169909 non-null  float64
 12  tempo             169909 non-null  float64
 13  valence           169909 non-null  float64
 14  year              169909 non-null  int64
dtypes: float64(9), int64(4), object(2)
memory usage: 19.4+ MB
None
        acousticness   danceability   duration_ms         energy  \
count  169909.000000  169909.000000  1.699090e+05  169909.000000
mean        0.493214       0.538150  2.314062e+05       0.488593
std         0.376627       0.175346  1.213219e+05       0.267390
min         0.000000       0.000000  5.108000e+03       0.000000
25%         0.094500       0.417000  1.710400e+05       0.263000
50%         0.492000       0.548000  2.086000e+05       0.481000
75%         0.888000       0.667000  2.629600e+05       0.710000
max         0.996000       0.988000  5.403500e+06       1.000000

       instrumentalness            key       liveness       loudness  \
count     169909.000000  169909.000000  169909.000000  169909.000000
mean           0.161937       5.200519       0.206690     -11.370289
std            0.309329       3.515257       0.176796       5.666765
min            0.000000       0.000000       0.000000     -60.000000
25%            0.000000       2.000000       0.098400     -14.470000
50%            0.000204       5.000000       0.135000     -10.474000
75%            0.086800       8.000000       0.263000      -7.118000
max            1.000000      11.000000       1.000000       3.855000

          popularity    speechiness          tempo        valence  \
count  169909.000000  169909.000000  169909.000000  169909.000000
mean       31.556610       0.094058     116.948017       0.532095
std        21.582614       0.149937      30.726937       0.262408
min         0.000000       0.000000       0.000000       0.000000
25%        12.000000       0.034900      93.516000       0.322000
50%        33.000000       0.045000     114.778000       0.544000
75%        48.000000       0.075400     135.712000       0.749000
max       100.000000       0.969000     244.091000       1.000000

                year
count  169909.000000
mean     1977.223231
std        25.593168
min      1921.000000
25%      1957.000000
50%      1978.000000
75%      1999.000000
max      2020.000000

In [8]:
print(billboard_df.info())
print(billboard_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327895 entries, 0 to 327894
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   url                     327895 non-null  object
 1   WeekID                  327895 non-null  object
 2   Week Position           327895 non-null  int64
 3   Song                    327895 non-null  object
 4   Performer               327895 non-null  object
 5   SongID                  327895 non-null  object
 6   Instance                327895 non-null  int64
 7   Previous Week Position  295941 non-null  float64
 8   Peak Position           327895 non-null  int64
 9   Weeks on Chart          327895 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 25.0+ MB
None
       Week Position       Instance  Previous Week Position  Peak Position  \
count  327895.000000  327895.000000           295941.000000  327895.000000
mean       50.499309       1.072538               47.604066      41.358307
std        28.865707       0.334188               28.056915      29.542497
min         1.000000       1.000000                1.000000       1.000000
25%        25.500000       1.000000               23.000000      14.000000
50%        50.000000       1.000000               47.000000      39.000000
75%        75.000000       1.000000               72.000000      66.000000
max       100.000000      10.000000              100.000000     100.000000

       Weeks on Chart
count   327895.000000
mean         9.153793
std          7.590281
min          1.000000
25%          4.000000
50%          7.000000
75%         13.000000
max         87.000000

In [9]:
# Clean billboard dataset
# Select the required columns
selected_columns = ['Song', 'Performer', 'Week Position', 'Weeks on Chart', 'Previous Week Position']
df_selected = billboard_df[selected_columns].copy()

# Ensure the 'Previous Week Position' is numeric
df_selected['Previous Week Position'] = pd.to_numeric(df_selected['Previous Week Position'], errors='coerce')

# Drop rows with NaN values in the 'Previous Week Position' column after conversion
df_selected = df_selected.dropna(subset=['Previous Week Position'])

# Calculate the maximum 'Weeks on Chart' for each song and performer
df_max_weeks = df_selected.groupby(['Song', 'Performer'], as_index=False)['Weeks on Chart'].max()

# Calculate the average 'Previous Week Position' for each song and performer
df_avg_previous_week = df_selected.groupby(['Song', 'Performer'], as_index=False)['Previous Week Position'].mean()
df_avg_previous_week.rename(columns={'Previous Week Position': 'Average Previous Week Position'}, inplace=True)

# Convert the average 'Previous Week Position' to integer
df_avg_previous_week['Average Previous Week Position'] = df_avg_previous_week['Average Previous Week Position'].round().astype(int)

# Calculate the maximum 'Week Position' for each song and performer
df_max_week_position = df_selected.groupby(['Song', 'Performer'], as_index=False)['Week Position'].min()

# Merge the results
cleaned_billboard = df_max_weeks.merge(df_avg_previous_week, on=['Song', 'Performer'])
cleaned_billboard = cleaned_billboard.merge(df_max_week_position, on=['Song', 'Performer'])

# Save the cleaned dataset to a CSV file
# cleaned_billboard.to_csv("billboard.csv", index=False)

# Display the cleaned DataFrame
cleaned_billboard

,Song,Performer,Weeks on Chart,Average Previous Week Position,Week Position
0,0 to 100 the catch up,drake,20,47,35
1,03 bonnie clyde,jayz featuring beyonce knowles,23,15,4
2,1,nelly,20,38,22
3,1 2 3 4,plain white ts,20,48,34
4,1 2 3 4 sumpin new,coolio,21,24,5
...,...,...,...,...,...
26671,zipadee doodah,bob b soxx and the blue jeans,13,29,8
26672,zombie,bad wolves,17,77,61
26673,zoom,lil boosie featuring yung joc,12,71,61
26674,zorba the greek,herb alpert the tijuana brass,12,34,11
26675,zunga zeng,k7,15,71,61

In [10]:
# Create a combined key for better matching in cleaned spotify and billborad dataset
cleaned_spotify = cleaned_spotify.copy() 
cleaned_spotify.loc[:, 'combined_key'] = (cleaned_spotify['name'] + ' ' + cleaned_spotify['artists']).astype(str)
cleaned_billboard = cleaned_billboard.copy()
cleaned_billboard.loc[:, 'combined_key'] = (cleaned_billboard['Song'] + ' ' + cleaned_billboard['Performer']).astype(str)

In [11]:
# Merge datasets on the key
combined_df = pd.merge(cleaned_spotify, cleaned_billboard, on='combined_key', how='inner')

In [12]:
# Check the combined dataframe
print(combined_df.info())
print(combined_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13659 entries, 0 to 13658
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   acousticness                    13659 non-null  float64
 1   artists                         13659 non-null  object
 2   danceability                    13659 non-null  float64
 3   duration_ms                     13659 non-null  int64
 4   energy                          13659 non-null  float64
 5   instrumentalness                13659 non-null  float64
 6   key                             13659 non-null  int64
 7   liveness                        13659 non-null  float64
 8   loudness                        13659 non-null  float64
 9   name                            13659 non-null  object
 10  popularity                      13659 non-null  int64
 11  speechiness                     13659 non-null  float64
 12  tempo                           13659 non-null  float64
 13  valence                         13659 non-null  float64
 14  year                            13659 non-null  int64
 15  combined_key                    13659 non-null  object
 16  Song                            13659 non-null  object
 17  Performer                       13659 non-null  object
 18  Weeks on Chart                  13659 non-null  int64
 19  Average Previous Week Position  13659 non-null  int64
 20  Week Position                   13659 non-null  int64
dtypes: float64(9), int64(7), object(5)
memory usage: 2.2+ MB
None
       acousticness  danceability   duration_ms        energy  \
count  13659.000000  13659.000000  1.365900e+04  13659.000000
mean       0.264507      0.597084  2.317311e+05      0.625256
std        0.266816      0.147688  6.412762e+04      0.199546
min        0.000002      0.094300  8.092700e+04      0.022000
25%        0.037700      0.501000  1.899820e+05      0.479000
50%        0.162000      0.603000  2.254270e+05      0.643000
75%        0.443000      0.700000  2.622000e+05      0.788000
max        0.986000      0.988000  1.292293e+06      0.996000

       instrumentalness           key      liveness      loudness  \
count      13659.000000  13659.000000  13659.000000  13659.000000
mean           0.025175      5.214218      0.183653     -8.685280
std            0.112575      3.557420      0.148910      3.662674
min            0.000000      0.000000      0.009670    -27.119000
25%            0.000000      2.000000      0.088300    -11.196000
50%            0.000007      5.000000      0.126000     -8.230000
75%            0.000563      8.000000      0.239000     -5.737500
max            0.989000     11.000000      0.997000     -0.716000

         popularity   speechiness         tempo      valence          year  \
count  13659.000000  13659.000000  13659.000000  13659.00000  13659.000000
mean      48.823267      0.063910    120.732368      0.59805   1991.274251
std       15.613484      0.069557     28.028254      0.23546     16.967203
min        0.000000      0.022400     30.946000      0.03490   1942.000000
25%       38.000000      0.031500     99.866000      0.41400   1977.000000
50%       49.000000      0.039400    119.441000      0.61600   1992.000000
75%       60.000000      0.059600    136.746000      0.79300   2006.000000
max      100.000000      0.755000    217.396000      0.99100   2020.000000

       Weeks on Chart  Average Previous Week Position  Week Position
count    13659.000000                    13659.000000   13659.000000
mean        15.857969                       48.784611      31.708251
std          8.620845                       22.665535      27.749568
min          2.000000                        5.000000       1.000000
25%         10.000000                       30.000000       7.000000
50%         15.000000                       45.000000      24.000000
75%         20.000000                       67.000000      52.000000
max         87.000000                      100.000000     100.000000

In [13]:
combined_df.to_csv("result.csv", index = False)