In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('result.csv')

In [9]:
df

,acousticness,artists,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,popularity,speechiness,tempo,valence,year,Song,Weeks on Chart,Average Previous Week Position,Week Position
0,0.73700,drake,0.559,275227,0.716,0.000000,11,0.2520,-3.964,70,0.3900,176.618,0.504,2013,0 to 100 the catch up,20,47,35
1,0.02360,nelly,0.690,198760,0.592,0.000000,7,0.5600,-5.973,50,0.3000,179.980,0.466,2002,1,20,38,22
2,0.56600,plain white ts,0.458,198360,0.550,0.000014,2,0.1080,-7.092,63,0.0262,90.560,0.560,2008,1 2 3 4,20,48,34
3,0.10700,amerie,0.612,238760,0.961,0.000042,10,0.0413,-3.078,60,0.3330,129.873,0.867,2005,1 thing,20,38,8
4,0.26500,drake,0.825,177733,0.756,0.000002,11,0.0762,-3.687,64,0.3830,172.938,0.888,2015,10 bands,13,78,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10506,0.70300,ohio express,0.738,142547,0.695,0.000873,0,0.1580,-8.108,40,0.0325,131.341,0.965,1968,yummy yummy yummy,14,23,4
10507,0.15000,post malone,0.738,204360,0.824,0.000000,5,0.1320,-5.165,71,0.0437,138.039,0.386,2018,zack and codeine,3,43,63
10508,0.05170,chris brown,0.731,214600,0.818,0.000000,1,0.0743,-4.564,55,0.0638,120.993,0.812,2015,zero,2,80,95
10509,0.00756,bad wolves,0.448,254805,0.826,0.000000,2,0.1170,-3.244,72,0.0319,77.093,0.190,2018,zombie,17,77,61
10510,0.15400,herb alpert the tijuana brass,0.531,264853,0.642,0.279000,5,0.0584,-12.702,36,0.3230,82.107,0.192,1965,zorba the greek,12,34,11